# App Configuration
ENVIRONMENT=development
API_EXT_PORT=8000

# CORS Configuration
CORS_ORIGINS=http://localhost:3000,http://localhost:8080

LOCAL_MOUNT_BASE_PATH=./data

# Volume Mount Positions
DATABASE_LOCAL_MOUNT_POSITION=${LOCAL_MOUNT_BASE_PATH}/postgres
DATABASE_TEST_LOCAL_MOUNT_POSITION=${LOCAL_MOUNT_BASE_PATH}/postgres_test

# PostgreSQL Configuration
DATABASE_HOST=postgres
DATABASE_PORT=5432 # Do not change
DATABASE_NAME=app_db
DATABASE_USERNAME=app_user
DATABASE_PASSWORD=app_password
POSTGRES_EXT_PORT=65432
# Database Pool Configuration
DATABASE_POOL_SIZE=5
DATABASE_MAX_OVERFLOW=10

# Test PostgreSQL Configuration
DATABASE_TEST_HOST=postgres_test
DATABASE_TEST_PORT=5432 # Do not change
DATABASE_TEST_NAME=app_db_test
DATABASE_TEST_USERNAME=app_user
DATABASE_TEST_PASSWORD=app_password # changeme
POSTGRES_TEST_EXT_PORT=55432

# Caching Configuration
REDIS_LOCAL_MOUNT_POSITION=${LOCAL_MOUNT_BASE_PATH}/redis
REDIS_HOST=redis
REDIS_PORT=6379 # Do not change
REDIS_EXT_PORT=56379
REDIS_DB=0
REDIS_PASSWORD=redis_password # changeme
REDIS_POOL_SIZE=50
REDIS_POOL_TIMEOUT=1
